{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container">
    <h3 class="text-center mt-3">Choose your Preferred Payment method</h3>
    <hr>
    <div class="row py-5">
        <div class="col-md-6" style="height: 300px;">
          <div class="card text-center shadow-sm">
            <div class="card-header">
              <h5>Your Membership Details</h5>
              <hr>
           <p><b>Category:</b> {{ membership.membership }}</p>
           <p><b>Fee:</b> ${{ membership.membership_price }}</p>
           <hr>
            </div>
          </div>
          
          </div>
          <div class="col-md-6" style="height: 300px;">
            <div class="card text-center shadow-sm">
            
              <div class="card-body">
                <script src="https://www.paypal.com/sdk/js?client-id=AYl37zK_CtsjR1OHczWeJInSWmDcajP2ub797KQ4hzOTlH_obTpf_DSwhy0aZnQJA_aEk87sdy6S8SiE&currency=USD"></script>
                                    <!-- Set up a container element for the button -->
                                    <div id="paypal-button-container"></div>
                                    <script>
                                      paypal.Buttons({
                                        // Order is created on the server and the order id is returned
                                        createOrder() {
                                          return fetch("{% url 'payment:create_paypal_order' %}", {
                                            method: "POST",
                                            headers: {
                                              "Content-Type": "application/json",
                                            },
                                            // use the "body" param to optionally pass additional order information
                                            // like product skus and quantities
                                          })
                                          .then((response) => response.json())
                                          .then((order) => order.id);
                                        },
                                        // Finalize the transaction on the server after payer approval
                                        onApprove(data) {
                                          return fetch("{% url 'payment:payment_done' %}", {
                                            method: "POST",
                                            headers: {
                                              "Content-Type": "application/json",
                                            },
                                            body: JSON.stringify({
                                              orderID: data.orderID
                                            })
                                          })
                                          .then((response) => response.json())
                                          .then((orderData) => {
                                            // Successful capture! For dev/demo purposes:
                                            console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                                            const transaction = orderData.purchase_units[0].payments.captures[0];
                                            alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
                                            // When ready to go live, remove the alert and show a success message within this page. For example:
                                            // const element = document.getElementById('paypal-button-container');
                                            // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                                            // Or go to another URL:  window.location.href = 'thank_you.html';
                                          });
                                        }
                                      }).render('#paypal-button-container');
                                    </script>
                                    
              </div>
             
            </div>
          </div>
      </div>
    </div>
  
{% endblock content %}
