{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container">
    <h3 class="text-center mt-3">Choose your Preferred Payment method</h3>
    <hr>
    <div class="row py-5">
        <div class="col-md-6" style="height: 300px;">
          <div class="card text-center shadow-sm">
            <div class="card-header">
              <h5>Your Membership Details</h5>
              <hr>
           <p><b>Category:</b> {{ membership.membership }}</p>
           <p><b>Fee:</b> ${{ membership.membership_price }}</p>
           <hr>
            </div>
          </div>
          
          </div>
          <div class="col-md-6" style="height: 300px;">
            <div class="card text-center shadow-sm">
            
              <div class="card-body">
                <script src="https://www.paypal.com/sdk/js?client-id=AW3qtSAth92Kzyc0vyB-wwkrbu_V1hobrKTH2_hMvCJygKrwE-nLStAE3GwRAy72LBmNi88VgAUV6NI-&currency=USD"></script>
                                    <!-- Set up a container element for the button -->
                                    <div id="paypal-button-container"></div>
                                    <script>
                                      paypal.Buttons({
                                        
                                        // Order is created on the server and the order id is returned
                                        createOrder() {
                                          return fetch("{% url 'payment:create_paypal_order' %}", {
                                            method: "POST",
                                            headers: {
                                              "Content-Type": "application/json",
                                            },
                                            // use the "body" param to optionally pass additional order information
                                            // like product skus and quantities
                                            body: JSON.stringify({
                                              cart: [
                                                {
                                                  sku: "1st Global Congress On New And Emerging Genetic Biocontrol Technologies",
                                                },
                                              ],
                                            }),
                                          })
                                          .then((response) => response.json())
                                          .then((order) => order.id);
                                        },
                                        // Finalize the transaction on the server after payer approval
                                        
                                                                                onApprove: function(data, actions) {
                                          // Capture the funds from the transaction
                                          return actions.order.capture().then(function(details) {
                                            // Call your server to save the transaction
                                            return fetch("{% url 'payment:paypal_webhook' %}", {
                                              method: 'POST',
                                              headers: {
                                                'Content-Type': 'application/json'
                                              },
                                              body: JSON.stringify({
                                                orderID: data.orderID,
                                                paymentID: details.id
                                              })
                                            })
                                            .then(function(response) {
                                              // Check if the payment was successful
                                              if (response.ok) {
                                                // Redirect the user to a payment done page
                                                window.location.href = "{% url 'payment:payment_done' %}";
                                              } else {
                                                // Handle the error
                                                console.error('Payment failed');
                                              }
                                            })
                                            .catch(function(error) {
                                              // Handle the error
                                              console.error(error);
                                            });
                                          });
                                        }





                                      }).render('#paypal-button-container');
                                    </script>
              </div>
             
            </div>
          </div>
      </div>
    </div>
  
{% endblock content %}
