{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container">
    <h3 class="text-center mt-3">Choose your Preferred Payment method</h3>
    <hr>
    <div class="row py-5">
        <div class="col-md-6" style="height: 300px;">
          <div class="card text-center shadow-sm">
            <div class="card-header">
              <h5>Your Membership Details</h5>
              <hr>
           <p><b>Category:</b> {{ membership.membership }}</p>
           <p><b>Fee:</b> ${{ membership.membership_price }}</p>
           <hr>
            </div>
          </div>
          
          </div>
          <div class="col-md-6" style="height: 300px;">
            <div class="card text-center shadow-sm">
            
              <div class="card-body">
                <script src="https://www.paypal.com/sdk/js?client-id=AWweB1Tx8aenCx6x3xeLgQatxoKHZ395o2UBpydjpiQQvnPf5K_Yq-DoS-rXiSPKRwCw8m8p0qcYsHu5&currency=USD"></script>
                                    <!-- Set up a container element for the button -->
                                    <div id="paypal-button-container"></div>
                                    <script>
                                      paypal.Buttons({
                                        
                                        // Order is created on the server and the order id is returned
                                        createOrder() {
                                          return fetch("{% url 'payment:create_paypal_order' %}", {
                                            method: "POST",
                                            headers: {
                                              "Content-Type": "application/json",
                                            },
                                            // use the "body" param to optionally pass additional order information
                                            // like product skus and quantities
                                            body: JSON.stringify({
                                              cart: [
                                                {
                                                  sku: "YOUR_PRODUCT_STOCK_KEEPING_UNIT",
                                                  quantity: "YOUR_PRODUCT_QUANTITY",
                                                },
                                              ],
                                            }),
                                          })
                                          .then((response) => response.json())
                                          .then((order) => order.id);
                                        },
                                        // Finalize the transaction on the server after payer approval
                                        
                                        onApprove: function(data, actions) {
                                          // Capture the funds from the transaction
                                          return actions.order.capture().then(function(details) {
                                            // Call your server to save the transaction
                                            return fetch("{% url 'payment:paypal_webhook' %}", {
                                              method: 'POST',
                                              headers: {
                                                'Content-Type': 'application/json'
                                              },
                                              body: JSON.stringify({
                                                orderID: data.orderID,
                                                paymentID: details.id
                                              })
                                            })
                                            .then(function(res) {
                                              if (res.ok) {
                                                return res.json();
                                              }
                                              throw new Error('Network response was not ok.');
                                            })
                                            .then(function(response) {
                                              alert('Capture response: ' + JSON.stringify(response));
                                              window.location.href = "{% url 'payment:payment_done' %}"; // Redirect to success page
                                            })
                                            .catch(function(error) {
                                              console.error('Error capturing payment:', error);
                                              window.location.href = "{% url 'payment:payment_canceled' %}"; // Redirect to error page
                                            });
                                          });
                                        }




                                      }).render('#paypal-button-container');
                                    </script>
              </div>
             
            </div>
          </div>
      </div>
    </div>
  
{% endblock content %}
