{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h3 class="text-center">PreCongress Registration Fee</h3>
    <div class="row mt-4">
      {% for category in categories %}
        <div class="col-md-4" style="height: 300px;">
          <div class="card text-center border-0 shadow-sm">
            <div class="card-header">
              <p>{{ category.title }}</p>
              <p><b>$: {{ category.price }}</b></p>
            </div>
            <div class="card-body">
              
            </div>
            <div class="card-footer text-center">
              <a href="{% url 'membership:membership_registration' category.id %}" class="btn btn-success">Register</a>

            </div>
          </div>
        </div>
        {% empty %}
            <div class="col-md-12">
              <p>No Membership found.</p>
            </div>
          {% endfor %}
      </div>
    </div>
  
{% endblock content %}
