{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<header class="header-section">
    <!-- Header content here -->
  </header>
  
  <section class="welcome-section">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-6">
          <h1 class="text-uppercase mb-3">Welcome to</h1>
          <h3 class="text-uppercase mb-3">1st Global Congress</h3>
          <h4 class="text-uppercase mb-4">On Emerging Genetic Biocontrol Technologies</h4>
          <p class="mb-5"><i>Theme: Emerging Genetic Biocontrol Technologies: Progress made in the Science, Research, Testing, and Environmental Release of Experimental Genetically Modified Biocontrol Products</i></p>
          <a href="{% url 'payment:index' %}" class="btn btn-outline-success">Get a Ticket</a>
        </div>
        <div class="col-md-6">
          <p class="mb-5">The African Genetic Biocontrol Consortium is delighted to announce the 1st Global Congress on New and Emerging Genetic Biocontrol Technologies to take place in Nairobi, Kenya in August 28 – Sept 02, 2023. The aim of the Congress is to bring together experts from around the world to share learnings across diverse disciplines related to genetic biocontrol technologies in a six-day event at the Safari Park Hotel.</p>
          <a href="#" class="btn btn-outline-success">Read More</a>
          <hr>
        </div>
      </div>
    </div>
  </section>
  <section class="two-column-section" style="margin-top: 50px;">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>About the Congress</h2>
          <p>The Congress is a premier event that brings together experts in genetic biocontrol to discuss the latest advances and innovations in the field. The event is characterized by:</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Three full days of intensive Pre-Conference Workshops/Symposia/Courses</li>
            <li class="list-group-item">Three full days of state-of-the-art keynotes, papers, and panel discussions</li>
            <li class="list-group-item">Exhibits showcasing the latest genetic biocontrol products and services</li>
            <li class="list-group-item">Invaluable networking opportunities</li>
          </ul>
        </div>
        <div class="col-md-6">
          <img src="static/users/images/about.jpg" class="img-fluid w-100 rounded" alt="Image of conference attendees">
        </div>
      </div>
    </div>
  </section>

  <section class="topics-section" style="margin-top: 50px;">
    <div class="container">
      <h2 class="text-center">Topics For Consideration</h2>
      <p>The following topics are applicable to genetic biocontrol agents and/or products and can be used as a guide to develop proposals for Pre-Conference Courses/Workshops/Symposia as well as abstracts for presentations during the Conference:</p>
      <div class="row">
        <div class="col-md-6">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Genetics and genetic engineering tools</li>
            <li class="list-group-item">Public health</li>
            <li class="list-group-item">Agriculture, conservation, livestock, and wildlife health</li>
            <li class="list-group-item">Approaches and disease-carrying insects</li>
            <li class="list-group-item">Biosafety, biosecurity, and biocontainment</li>
            <li class="list-group-item">Stakeholder and public engagement</li>
            <li class="list-group-item">Quality control and certification of facilities</li>
            <li class="list-group-item">One health</li>
            <li class="list-group-item">Training and capacity building</li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Policy and regulatory science of field trials and releases</li>
            <li class="list-group-item">Classical biocontrol</li>
            <li class="list-group-item">Non-genetic/Wolbachia studies</li>
            <li class="list-group-item">Mathematical modeling</li>
            <li class="list-group-item">Risk assessment and decision-making</li>
            <li class="list-group-item">Science communication</li>
            <li class="list-group-item">Leadership, governance, and related management issues</li>
            <li class="list-group-item">Innovation, stewardship, entrepreneurship, and related topics</li>
            <li class="list-group-item">Product registration and labeling of GM products</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="info-section" style="background-color: #174D4D; color: #ffffff; border:0; padding: 50px;">
    <div class="container">
      <h2 class="text-center">Call for Abstracts</h2>
      <p>Join us for the 1st  Global Congress on Emerging Genetic Biocontrol Technologies 2023 and be part of the globe’s premier Congress to advance the Genetic Biocontrol agenda.</p>
      <p>This is an excellent opportunity to display and discuss your products and services to an international audience. Anyone who supplies, manufactures, provides services or products used in biomedical research, pest and disease control, food and feed products, biosafety and biosecurity should exhibit.  
        Description of the packages may be accessed here on this page or by contacting the Congress Secretariat congress@genbioconsortium.africafor more details on exhibition opportunities.</p>
      
      <a href="mailto:congress@genbioconsortium.africa" style="text-decoration: none;"><button class="btn btn-outline-success btn-lg mx-auto d-block">Submit Abstract</button></a>
    </div>
  </section>
  
  
  
  
  
  
  
  
  
  
  
  
{% endblock content %}
