{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Reset Your Password</h1>
                                        <p>Enter your Email and we all email you instruction on how to reset the password with the activation link</p>
                                    </div>
                                    Hello {{ user.username }},

                                    We received a request to reset the password for your account for this email address. To initiate the password reset process for your account, click the link below.
                                    
                                    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
                                    
                                    This link can only be used once. If you need to reset your password again, please visit {{ protocol }}://{{domain}} and request another reset.
                                    
                                    If you did not make this request, you can simply ignore this email.
                                    
                                    Sincerely,
                                    PyLessons
                                    <hr>
    
                                    <div class="form-group text-center">
                                        <a href="{% url 'register' %}" class="no-style-link">Dont have an Account? Register</a>
                                    </div>
                                    <div class="form-group text-center">
                                        <a href="{% url 'password_reset' %}" class="no-style-link">Forgot your Password? Reset</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
