{% extends "users/base.html" %}

{% block content %}
  
 <div class="conta"></div>
 <div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-3">
                                <div class="text-center">
                                    
                                    <h3>{{ event.event_name }}</h3>
                                    <p>{{ event.description }}</p>
                                    <p>{{ event.venue }}</p>
                                    <p>{{ event.event_date }}</p>
                                    <p>{{ event.fee }}</p>
                                    <script src="https://www.paypal.com/sdk/js?client-id=AYl37zK_CtsjR1OHczWeJInSWmDcajP2ub797KQ4hzOTlH_obTpf_DSwhy0aZnQJA_aEk87sdy6S8SiE&currency=USD"></script>
                                    <!-- Set up a container element for the button -->
                                    <div id="paypal-button-container"></div>
                                    <script>
                                      paypal.Buttons({
                                          // Order is created on the server and the order id is returned
                                          createOrder() {
                                              return fetch("{% url 'payment:order' event_id=event.id %}", {
                                                  method: "POST",
                                                  headers: {
                                                      "Content-Type": "application/json",
                                                  },
                                                  // use the "body" param to optionally pass additional order information
                                                  // like product skus and quantities
                                                  body: JSON.stringify({
                                                      cart: [
                                                          {
                                                              sku: "YOUR_PRODUCT_STOCK_KEEPING_UNIT",
                                                              quantity: "YOUR_PRODUCT_QUANTITY",
                                                          },
                                                      ],
                                                  }),
                                              })
                                              .then((response) => response.json())
                                              .then((order) => order.id);
                                          },
                                          // Finalize the transaction on the server after payer approval
                                          onApprove(data) {
                                              return fetch("{% url 'payment:complete' event_id=event.id %}", {
                                                  method: "POST",
                                                  headers: {
                                                      "Content-Type": "application/json",
                                                  },
                                                  body: JSON.stringify({
                                                      orderID: data.orderID
                                                  })
                                              })
                                              .then((response) => response.json())
                                              .then((orderData) => {
                                                  location.href = "{% url 'payment:payment_done' %}";
                                              });
                                          }
                                      }).render('#paypal-button-container');
                                  </script>
                                  
                                
                                    
                                </div>
                             
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
  
{% endblock %}
