{% extends "users/base.html" %}

{% block content %}
  
 <div class="conta"></div>
 <div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-3">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Choose Event</h1>
                                </div>
                                <h1>Upcoming Events</h1>
  <ul>
    {% for event in events %}
      <li><a href="{% url 'payment:event_detail' pk=event.pk %}">{{ event.event_name }}</a></li>
    {% empty %}
      <li>No events currently scheduled.</li>
    {% endfor %}
  </ul>
                              
                                <div class="container">
                                   
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <!-- Replace "test" with your own sandbox Business account app client ID -->
    {{ form.render }}
  </body>
</html>

                                 
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
  
{% endblock %}
