{% extends "users/base.html" %}

{% block content %}
  
 <div class="conta"></div>
 <div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-3">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Payment Details</h1>
                                </div>
                              
                                <div class="container">
                                 <h3>Payment processed</h3>
                                 <h4>{{ event_id }}</h4>
                                 <h4>{{ amount }}</h4>
                                 <h4>{{ payment_status }}</h4>
                                 
                                 
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
  
{% endblock %}
